aclocal.m4
config.h
config.status
config.log
configure
config.h.in
libtool
libplanfahr-*.tar.gz
libplanfahr-*.tar.xz
Makefile
Makefile.in
run
stamp-*
TAGS
*.la
*.lo
*.log
*.o
*.pc
*.gir
*.typelib
*~
gtk-doc.make
.deps/
.libs/
autom4te.cache/
build-aux/
docs/reference/*.stamp
docs/reference/*.bak
docs/reference/html
docs/reference/libplanfahr-*-decl-list.txt
docs/reference/libplanfahr-*-decl.txt
docs/reference/libplanfahr-*-undeclared.txt
docs/reference/libplanfahr-*-undocumented.txt
docs/reference/libplanfahr-*-unused.txt
docs/reference/libplanfahr-*.args
docs/reference/libplanfahr-*.hierarchy
docs/reference/libplanfahr-*.interfaces
docs/reference/libplanfahr-*.prerequisites
docs/reference/libplanfahr-*.signals
docs/reference/libplanfahr-*.types
docs/reference/tmpl
docs/reference/xml
m4/
libplanfahr/providers/tests/hafas-bin6
libplanfahr/providers/tests/hafas-bin6-format
libplanfahr/providers/tests/*.trs
